<!-- An Home* or “About Me” section with your photo and a brief description of your background and career goals (including a professional picture/headshot). -->
<div class="row">
	<div class="col s12">
		<h4>
		  About Me
		</h4>
	</div>
</div>
<div class="row">
	<div class="col s12 m8">
		<div class="card-panel">
			<p>lorem ipsum blah blah blah</p>
		</div>
	</div>
	<div class="col s12 m4">
		<img class="responsive-img" [src]='myImageUrl1'>
		<img class="responsive-img" [src]='myImageUrl2'>
	</div>
</div>


