<!-- A “Projects*” section that highlights work you’ve done in classes, independently, and at previous internships and jobs (give examples of at least two projects or one project and another tab about something   that showcases your talents/skills (e.g. tools or classes, languages, could additionally have a link to your Github) -->
<div class="par" parallax>
<div class="offset-content">
	<div class="row section-header-row center">
		<div class="col s12">
			<h4 class="grey-text text-darken-4"> 
				Projects
			</h4>
		</div>
	</div>

	<div class="divider grey darken-2"></div>

	<div class="row last-row">
		<div class="col s12 m5 push-m1">
			<div class="card hoverable">
	      <div class="card-content grey-text text-lighten-4">
	        <span class="card-title">Homepage</span>
		      <p>This website is a practice website built using Ruby on Rails and materialize for CSS. It's hosted on Heroku. </p>
		    	<p>This site showcases things I'm interested. It's still being built.</p>
	      </div>
	      <div class="card-action">
	        <a href={{home4DawgsUrl}} target="_blank">home4dawgs</a>
	      </div>
	    </div>
		</div>
		<div class="col s12 m5 push-m1">
			<div class="card hoverable">
	      <div class="card-content grey-text text-lighten-4">
	        <span class="card-title">Project Horshoe Farm</span>
		      <p>This is the site for my senior design group project. PHF is a non-profit adult day care center that was having trouble with participants wandering off campus.</p>
		    	<p>We formed and began to implement a solution involving bluetooth devices, mosquitto clients, and front-end/back-end technologies.</p>
	      </div>
	      <div class="card-action">
	        <a href={{phfUrl}} target="_blank">PHF</a>
	      </div>
	    </div>
		</div>
	</div>
</div>
</div>
<div class="par2" parallax>
  <div class="offset-content">
  </div>
</div>
