<!-- Contacts* section that highlights your contact information  -->
<div class="par" parallax>
<div class="offset-content">
  <div class="row section-header-row">
    <div class="col s12">
      <h4 class="grey-text text-darken-4">
        Contact Me
      </h4>
    </div>
  </div>

  <div class="divider grey darken-2"></div>

  <div class="row last-row">
    <div class="col s12 m5 push-m1">
      <div class="card hoverable">
        <div class="card-content grey-text text-darken-4">
          <span class="card-title">Email</span>
        </div>
        <div class="card-action">
          <a href={{mailUrl}}>mghharrison@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="col s12 m5 push-m1">
      <div class="card hoverable">
        <div class="card-content grey-text text-darken-4">
          <span class="card-title">Phone</span>
        </div>
        <div class="card-action">
          <a href={{telUrl}}>205-516-3702</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>