<!-- SideNav that collapses on med and small -->
<ul class="side-nav fixed grey z-depth-2" id="mobile-demo">
  <li class="grey darken-4 z-depth-2"><h4 id="logo-txt" class="center grey-text text-lighten-2">Michael Harrison</h4></li>
  <!-- Need Two of each because links should hide side-nav on mobile screen once pressed but not on large screens where side-nav should always be visible -->
  <li><a class="waves-effect hide-on-med-and-down" href="/#/about-me">About Me</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="waves-effect hide-on-large-only" href="/#/about-me">About Me</a></li>
  <li><a class="waves-effect hide-on-med-and-down" href="/#/resume">Resume</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="waves-effect hide-on-large-only" href="/#/resume">Resume</a></li>
  <li><a class="waves-effect hide-on-med-and-down" href="/#/projects">Projects</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="waves-effect hide-on-large-only" href="/#/projects">Projects</a></li>
  <li><a class="waves-effect hide-on-med-and-down" href="/#/contact-me">Contact Me</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="waves-effect hide-on-large-only" href="/#/contact-me">Contact Me</a></li>
</ul>

<!-- Navbar across top -->
<div class="navbar-fixed">
  <nav> 
    <div class="nav-wrapper">
        <a href="#" class="brand-logo grey-text text-darken-4">
              Michael Harrison
        </a>
        <div class="right">
          <!-- opens side-nav on med and down -->
          <ul class="hide-on-large-only">
            <li>
          <a href="#" data-activates="mobile-demo" class="button-collapse waves-effect"><i class="material-icons black-text">menu</i></a>
            </li>
          </ul>
          <!-- icons to social media in nav-bar -->
          <ul class="hide-on-med-and-down">
            <li><a class="dark-text waves-effect" href="https://www.linkedin.com/in/michael-harrison-4116b073/" target="_blank">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
            <li>
              <a class="light-text waves-effect" href="https://www.facebook.com/profile.php?id=708630027" target="_blank">
                <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
            </li>
            <li><a class="light-text waves-effect" href="https://www.instagram.com/___michaelson___/?hl=en" target="_blank">
                  <i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </div>
  </nav>
</div>

<!-- Content that is changed on demand -->
<div class="row">
  <div class="col l9 push-l3 m12">
    <router-outlet></router-outlet>
    <!-- Optional: Service if you have any exceptional service like university or community leadership -->

    <!-- Optional: Outreach if you have done K-12 our peer outreach during recent years -->

  </div>
</div>

