.logo-txt {
	margin: 0;
	font-size: 2em;
}

.nav-bar-lh-l {
	line-height: 64px;
}

/*makes the icons a hover fit in nav bar*/
/*changed form display: block;*/
nav ul a {
	display: grid;
}

.fa {
}

.offset-content {
	margin-left: 300px;
}

@media only screen and (max-width: 992px){
	.offset-content {
		margin-left: 0px;
	}
}

.nav-wrapper {
	background: #212121;
}

.side-nav {
	background: rgba(0,0,0,.3);
}

.pc-about-me {
	height: 80em;
}
