#logo-txt {
	margin: 0;
	padding-top: .8em;
	padding-bottom: .7em;
}

/*makes the icons a hover fit in nav bar*/
/*changed form display: block;*/
nav ul a {
	display: grid;
}

.brand-logo {
	color: black;
}

.fa {
	color: black;
}