<!-- SideNav that collapses on med and small -->
<ul class="side-nav fixed " id="mobile-demo">
  <li class="grey darken-4 hide-on-large-only"><p class="nav-bar-lh grey-text logo-txt text-lighten-2">Michael Harrison</p></li>
  <li class="grey darken-4 hide-on-med-and-down scale-transition"
    [ngClass]="{'scale-in': mhShouldFadeIn, 'scale-out': !mhShouldFadeIn}"
  ><a class="nav-bar-lh grey-text logo-txt text-lighten-2 waves-effect waves-red"
      href="/#/about-me">Michael Harrison</a></li>
  <!-- Need Two of each because links should hide side-nav on mobile screen once pressed but not on large screens where side-nav should always be visible -->
  <li class="scale-transition" 
  [ngClass]="{'scale-in': aboutMeShouldFadeIn, 'scale-out': !aboutMeShouldFadeIn}">
    <a class="grey-text text-lighten-4 waves-effect waves-teal hide-on-med-and-down" 
    href="/#/about-me">About Me</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="grey-text text-lighten-4 waves-effect waves-teal hide-on-large-only" href="/#/about-me">About Me</a></li>
  <li class="scale-transition" 
    [ngClass]="{'scale-in': resumeShouldFadeIn, 'scale-out': !resumeShouldFadeIn}"
  ><a class="grey-text text-lighten-4 waves-effect waves-green hide-on-med-and-down" 
    href="/#/resume">Resume</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="grey-text text-lighten-4 waves-effect waves-green hide-on-large-only" href="/#/resume">Resume</a></li>
  <li class="scale-transition" 
    [ngClass]="{'scale-in': projectsShouldFadeIn, 'scale-out': !projectsShouldFadeIn}"
  ><a class="grey-text text-lighten-4 waves-effect waves-red hide-on-med-and-down" 
    href="/#/projects">Projects</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="grey-text text-lighten-4 waves-effect waves-red hide-on-large-only" href="/#/projects">Projects</a></li>
  <li class="scale-transition" 
    [ngClass]="{'scale-in': contactMeShouldFadeIn, 'scale-out': !contactMeShouldFadeIn}"
  ><a class="white-text waves-effect waves-orange hide-on-med-and-down" 
    href="/#/contact-me">Contact Me</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="grey-text text-lighten-4 waves-effect waves-orange hide-on-large-only" href="/#/contact-me">Contact Me</a></li>
</ul>

<!-- Navbar across top -->
<div class="navbar-fixed">
  <nav> 
    <div class="nav-wrapper">
        <div class="right">
          <!-- opens side-nav on med and down -->
          <ul class="hide-on-large-only">
            <li>
          <a href="#" data-activates="mobile-demo" class="button-collapse waves-effect"><i class="material-icons grey-text text-lighten-4">menu</i></a>
            </li>
          </ul>
          <!-- icons to social media in nav-bar -->
          <ul class="hide-on-med-and-down">
            <li><a class="light-text waves-effect" href="https://github.com/mgh0010" target="_blank">
                  <i class="fa fa-github fa-lg scale-transition" 
                  [ngClass]="{'scale-in': githubShouldFadeIn, 'scale-out': !githubShouldFadeIn}" aria-hidden="true"></i></a></li>
            <li><a class="light-text waves-effect" href="https://www.linkedin.com/in/michael-harrison-4116b073/" target="_blank">
                  <i class="fa fa-linkedin fa-lg scale-transition" 
                  [ngClass]="{'scale-in': linkedInShouldFadeIn, 'scale-out': !linkedInShouldFadeIn}" aria-hidden="true"></i></a></li>
            <li>
              <a class="light-text waves-effect" href="https://www.facebook.com/profile.php?id=708630027" target="_blank">
                <i class="fa fa-facebook-official fa-lg scale-transition" 
                  [ngClass]="{'scale-in': facebookShouldFadeIn, 'scale-out': !facebookShouldFadeIn}" aria-hidden="true"></i></a></li>
            <li><a class="light-text waves-effect" href="https://www.instagram.com/___michaelson___/?hl=en" target="_blank">
                  <i class="fa fa-instagram fa-lg scale-transition" 
                  [ngClass]="{'scale-in': instagramShouldFadeIn, 'scale-out': !instagramShouldFadeIn}" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </div>
  </nav>
</div>

<!-- Content that is changed on demand -->
      <router-outlet></router-outlet>
      <!-- Optional: Service if you have any exceptional service like university or community leadership -->

      <!-- Optional: Outreach if you have done K-12 our peer outreach during recent years -->

<footer class="page-footer">
  <div class="offset-content">
     <div class="container">
       <div class="row lol">
         <div class="col s10 push-s1 m5 push-m7">
          <div class="collection hide-on-large-only">
            <a class="light-text waves-effect waves-teal collection-item" href="https://github.com/mgh0010" target="_blank"> <span class="grey-text text-lighten-4">Github</span> 
              <i class="fa fa-github fa-lg grey-text text-lighten-4 right" aria-hidden="true"></i></a>
            <a class="light-text waves-effect waves-teal collection-item" href="https://www.linkedin.com/in/michael-harrison-4116b073/" target="_blank"> <span class="grey-text text-lighten-4">LinkedIn</span>
              <i class="fa fa-linkedin fa-lg grey-text text-lighten-4 right" aria-hidden="true"></i></a>
            <a class="light-text waves-effect waves-teal collection-item" href="https://www.facebook.com/profile.php?id=708630027" target="_blank"> <span class="grey-text text-lighten-4">Facebook</span>
              <i class="fa fa-facebook-official fa-lg grey-text text-lighten-4 right" aria-hidden="true"></i></a>
            <a class="light-text waves-effect waves-teal collection-item" href="https://www.instagram.com/___michaelson___/?hl=en" target="_blank"> <span class="grey-text text-lighten-4">Instagram</span>
              <i class="fa fa-instagram fa-lg grey-text text-lighten-4 right" aria-hidden="true"></i></a>
          </div>
         </div>
       </div>
     </div>
     <div class="footer-copyright">
       <div class="container">
       © 2017 Copyright Text
       </div>
   </div>  
  </div>
</footer>
