<!-- SideNav that collapses on med and small -->
<ul class="side-nav fixed " id="mobile-demo">
  <li class="grey darken-4 hide-on-large-only"><h4 class="center nav-bar-lh-l grey-text logo-txt text-lighten-2">Michael Harrison</h4></li>
  <li class="grey darken-4 nav-bar-lh-s-and-m hide-on-med-and-down"><h4 class="center nav-bar-lh-l grey-text logo-txt text-lighten-2">Michael Harrison</h4></li>
  <!-- Need Two of each because links should hide side-nav on mobile screen once pressed but not on large screens where side-nav should always be visible -->
  <li><a class="grey-text text-lighten-2 waves-effect hide-on-med-and-down" href="/#/about-me">About Me</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="waves-effect hide-on-large-only" href="/#/about-me">About Me</a></li>
  <li><a class="grey-text text-lighten-2 waves-effect hide-on-med-and-down" href="/#/resume">Resume</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="waves-effect hide-on-large-only" href="/#/resume">Resume</a></li>
  <li><a class="grey-text text-lighten-2 waves-effect hide-on-med-and-down" href="/#/projects">Projects</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="waves-effect hide-on-large-only" href="/#/projects">Projects</a></li>
  <li><a class="grey-text text-lighten-2 waves-effect hide-on-med-and-down" href="/#/contact-me">Contact Me</a></li>
  <li><a onclick="$('.button-collapse').sideNav('hide');" class="waves-effect hide-on-large-only" href="/#/contact-me">Contact Me</a></li>
</ul>

<!-- Navbar across top -->
<div class="navbar-fixed">
  <nav> 
    <div class="nav-wrapper">
        <a href="#" class="brand-logo grey-text text-darken-4">
        </a>
        <div class="right">
          <!-- opens side-nav on med and down -->
          <ul class="hide-on-large-only">
            <li>
          <a href="#" data-activates="mobile-demo" class="button-collapse waves-effect"><i class="material-icons black-text">menu</i></a>
            </li>
          </ul>
          <!-- icons to social media in nav-bar -->
          <ul class="hide-on-med-and-down">
            <li><a class="dark-text waves-effect" href="https://www.linkedin.com/in/michael-harrison-4116b073/" target="_blank">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
            <li>
              <a class="light-text waves-effect" href="https://www.facebook.com/profile.php?id=708630027" target="_blank">
                <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
            </li>
            <li><a class="light-text waves-effect" href="https://www.instagram.com/___michaelson___/?hl=en" target="_blank">
                  <i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </div>
  </nav>
</div>

<!-- Content that is changed on demand -->
  <div class="parallax-container pc-about-me">
    <div class="parallax"><img [src]='bgUrl'></div>
    <div class="offset-content">
      <router-outlet></router-outlet>
      <!-- Optional: Service if you have any exceptional service like university or community leadership -->

      <!-- Optional: Outreach if you have done K-12 our peer outreach during recent years -->
    </div>
  </div>

<footer class="page-footer grey darken-4">
 <div class="container">
   <div class="row">
     <div class="col l6 s12">
       <h5 class="white-text">Footer Content</h5>
       <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
     </div>
     <div class="col l4 offset-l2 s12">
       <h5 class="white-text">Links</h5>
       <ul>
         <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
       </ul>
     </div>
   </div>
 </div>
 <div class="footer-copyright">
   <div class="container">
   © 2017 Copyright Text
   </div>
 </div>
</footer>

