<!-- A Professional or resume* section that prospective employers can download
      (Resume clarification you should have a high level resume overview that talks about your best accomplishments that then links to you resume), some use this to highlight your programming skills/languages
       Internships -->
<div class="par" parallax>
	<div class="offset-content">
		<div class="row section-header-row">
			<div class="col s12">
				<h4 class="grey-text text-darken-4">
					Resume
				</h4>
			</div>
		</div>

		<div class="divider grey darken-2"></div>

		<div class="row">
			<div class="col s10 push-s1 m11 push-m1">
				<h5 class="grey-text text-darken-4">
					Co-op with ADTRAN
				</h5>
			</div>
		</div>

		<div class="row last-row">
			<div class="col s10 push-s1 m5 push-m1">
				<div class="card hoverable">
					<div class="card-image waves-effect waves-block waves-light">
					  <img class="activator" src="/assets/media/UX.jpg">
					</div>
					<div class="card-content">
					  <span class="card-title activator grey-text text-lighten-4">User Experience<i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-action">
		        <a href="http://prezi.com/dqfxdctz-x8m/?utm_campaign=share&utm_medium=copy" 
		        target="_blank">Prezi</a>
		      </div>
					<div class="card-reveal">
					  <span class="card-title grey-text text-darken-4">UX Summary<i class="material-icons right">close</i></span>
					  <p>May 2016 - Aug 2016 | 4 months</p>
					  <p>Design User interfaces per User Experience guidelines for several widgets in ADTRAN's MOSAIC framework. Design these widgets by means of heavy research, user testing, gathering feedback, drawing mockups, presenting mockups, and refining designs to best meet user needs.</p>
					</div>
				</div>
			</div>
			<div class="col s10 push-s1 m5 push-m1">
				<div class="card hoverable">
					<div class="card-image waves-effect waves-block waves-light">
					  <img class="activator" src="/assets/media/c++.jpg">
					</div>
					<div class="card-content">
					  <span class="card-title activator grey-text text-lighten-4">System Software<i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-action">
		        <a href="http://prezi.com/eh4dllwg1-wd/?utm_campaign=share&utm_medium=copy&rc=ex0share"
		        target="_blank">Prezi</a>
		      </div>
					<div class="card-reveal">
					  <span class="card-title grey-text text-darken-4">System Software Team Summary<i class="material-icons right">close</i></span>
					  <p>Aug 2015 - Dec 2015 | 5 months</p>
					  <p>Optimize current data structure algorithms in C++ and C using STL containers. Construct more efficient data structure for OS timer handling and implement into the existing kernel code. Write many tests for own code with gtest framework.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="par2">
	<div class="offset-content">
		<div class="row">
			<div class="col s10 push-s1 m5 push-m1">
				<div class="card hoverable">
					<div class="card-image waves-effect waves-block waves-light">
					  <img class="activator" src="/assets/media/fiber.jpg">
					</div>
					<div class="card-content">
					  <span class="card-title activator grey-text text-lighten-4">SDVT<i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-action">
		        <a href="http://prezi.com/eh4dllwg1-wd/?utm_campaign=share&utm_medium=copy&rc=ex0share" 
		        target="_blank">Prezi</a>
		      </div>
					<div class="card-reveal">
					  <span class="card-title grey-text text-darken-4">System Design & Verification Testing Summary<i class="material-icons right">close</i></span>
					  <p>Jan 2015 - May 2015 | 5 months</p>
					  <p>Work closely with a Triple Play Testbed. Upgrade the network, configure new services and write python scripts and python app to speed up redundant interaction with testbed and other telnet accessible lab equipment.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row last-row">
			<div class="col s12">
				<div class="card-panel">
					<h3 class="center">
						<a class='grey-text text-lighten-4' href="/assets/media/resume.docx" download="MichaelHarrisonResume.docx">Download my Resume!
						</a>
					</h3>	
				</div>
			</div>
		</div>
	</div>
</div>
