/* You can add global styles to this file, and also import other style files */
.section-header-row {
	margin-bottom: .5em;
	text-align: center;
}

.divider {
	background: #212121;
	margin-bottom: .8em;
}

.card-panel {
	background: rgba(0,0,0,.3);
}

.card {
	background: rgba(0,0,0,.3);
}

a {
	color: #83E9F8;
}
