/* You can add global styles to this file, and also import other style files */
p {
	font-size: large;
}

.section-header-row {
	margin-bottom: .5em;
	text-align: center;
}

.offset-content {
	margin-left: 300px;
}

@media only screen and (max-width: 992px){
	.offset-content {
		margin-left: 0px;
	}
}

.divider {
	background: #212121;
	margin-bottom: .8em;
}

.card-panel {
	background: rgba(0,0,0,.3);
}

.card {
	background: rgba(0,0,0,.3);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	color: #ee6e73;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #ffd8a6;
}

.last-row {
	margin-bottom: 0;
}

.par {
	background-image: url("/assets/media/cool.jpg");
	height: 650px;
}
.par2 {
	background-image: url("/assets/media/cool2.jpg");
}
